{% extends "base.html" %}

{% block site_meta %}
<script type="application/ld+json" >
    {
      "@context": "https://schema.org",
      "@id": "https://center-for-health-data-science.github.io/PythonTsunami/",
      "@type": "LearningResource",
      "dct:conformsTo": "https://bioschemas.org/profiles/TrainingMaterial/1.0-RELEASE",
      "description": "# Course description",
      "keywords": [
        "Python, Data Analysis, Introduction, Programming"
      ],
      "learningResourceType": [
        "e-learning"
      ],
      "license": [
        {
          "@id": "https://mit-license.org/",
          "@type": "CreativeWork"
        }
      ],
      "name": "Python Tsunami (Introduction to Python)",
      "educationalLevel": "Beginner",
      "audience": "Everyone"
    }
    </script >

{% endblock %}

{% block announce %}
Page under construction - website not finalized
{% endblock %}